<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="authService.user | async">
        <!-- <h1>Welcome {{ (authService.user | async)?.email }}!</h1>
        <button (click)="logout()" class="btn">Logout</button> -->
      </div>

      <div *ngIf="!(authService.user | async)">
        <div class="text-center">
          <h1>WELCOME TO A TYPERACER SPINOFF</h1>
        </div>
        <hr>
        <h1 class="text-center">Login</h1>
        <input type="text" [(ngModel)]="email" placeholder="email">
        <br>
        <input type="password" [(ngModel)]="password" placeholder="password">
        <br>
        <div class="row">
          <div class="col-md-6 text-center">
            <button class="btn" (click)="login()" [disabled]="!email || !password">Login</button>

          </div>
          <div class="col-md-6 text-center">
            <a href="/user/create"><button class="btn">
              Register
            </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <body>
<div class="jumbotron">
  <h2 class="display-3">TYPERACER!</h2>
  <h1 class="lead">HOW FAST CAN YOU GO!</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="userpanel">Go to List</a>
  </p>
</div>
</body> -->
