<div class="container" id="UserDisplayContainer">
  <div class="row">
    <div class="col-md-7 card">
      <h1>Name: </h1>
      <h3>Username: </h3>
      <h5>Win-Lose Ratio: </h5>
      <br><br>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn">Play!</button>
        </div>
      </div>
    </div>
    <div class="col-md-5 card">
      <h1>Friends List</h1>
      <!-- <div *ngFor="let friend of friends">
        <h4>{{friend.name}}</h4>
        <p>{{friend.status}}</p>
      </div> -->
    </div>
  </div>
  <div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>
</div>
