<div class="container" id="UserDisplayContainer">
  <h1 class="text-center" style="text-transform: uppercase">WELCOME, {{(playerService.currentPlayer | async)?.username}} !!</h1>
  <br>
  <div class="row">
    <div class="col-md-6 card">
      <h5>Wins: {{(playerService.currentPlayer | async)?.wins}} </h5>
      <h5>Losses: {{(playerService.currentPlayer | async)?.losses}}</h5>
      <hr>
      <div class="row">
        <h3>GAME REQUESTS</h3>
        <div class="col-md-12 text-center card" style="overflow-y: scroll; height: 150px;">
          <div *ngFor="let request of playerService.ourGameRequests | async">
            <p>User{{request.requestor}} wants to play with you!</p>
            <button type="button" class="btn" (click)="initiateNewGame(request)">Play Game!</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <button type="button" class="btn" (click)="showDialog = !showDialog">User Settings</button>
        </div>
        <div class="col-md-6 text-center">
          <button type="button" class="btn" (click)="authService.logout(); playerService.logoutPlayer()">LOGOUT</button>
        </div>
      </div>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-md-5 card">
      <h1>Friends List</h1>
      <div class="card" id="friendCard">
        <div *ngFor="let friend of playerService.localFriends">
          <p>{{(friend | async)?.username}}</p>
          <input #friendKey type="hidden" value="{{(friend | async)?.$key}}">
          <button type="button" class="btn" (click)="queueService.requestGame(uid, friendKey.value)">Send Game Request</button>
          <hr>
        </div>
      </div>
      <button class="btn" (click)="showFriendSearch = !showFriendSearch">Friend Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 card">
      <app-chat></app-chat>
    </div>
  </div>
</div>


<app-settings [(visible)]="showDialog">
  <h1>Settings</h1>
  <hr>
  <h3>Change Username</h3>
  <h3>Change Password</h3>
  <h3>Whatever</h3>
  <h4>Put whatever content you want in here</h4>
  <hr>
  <button style="float: right" type="button" class="btn" (click)="showDialog = !showDialog">Close</button>
</app-settings>

<app-settings [(visible)]="showFriendSearch">
  <label>Search for a Friend</label>
  <input #friendSearch type="text" [ngModel]="friendSearch.value" (ngModelChange)="playerService.findFriends(friendSearch.value, potentialFriends)">
  <div class="card" style="height: 150px; overflow-y: scroll;">
    <ul #potentialFriends>
      <li *ngFor="let friend of playerService.foundPotentialFriends">{{friend.username}}<button class="btn" style="float: right" (click)="playerService.addFriend(friend.key)">Add Friend</button><br><hr></li>
    </ul>
  </div>
  <button style="float: right" type="button" class="btn" (click)="showFriendSearch = !showFriendSearch">Close</button>
<app-settings>
